* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  margin: 1rem;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
  height: 8rem;
}
.logo_container {
  margin: 1rem;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 52%;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;

  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0;
  border-bottom: 5px solid #ffffff;
  overflow: hidden;
}
.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 3rem;
  width: 60%;
  min-width: 20%;
  display: flex;
  align-items: center;

  border: 1px solid #eef0f5;
  padding: 16px;
  border-radius: 1rem;
}

.search_input {
  border: #eef0f5;
  margin-left: 1rem;
  width: 60%;
}

.action_bar {
  margin-top: 1rem;
  display: flex;
  min-width: 14%;
  width: 40%;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_container {
  display: none;
  text-align: center;
}

.menu_icon {
  max-width: 100%;
  text-align: center;
  display: none;
}

/* Main section */
.banner_container {
  margin: 3rem 0;
}
.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-books,
.books-container {
  width: 0%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_book {
  width: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}

.books-container {
  width: 80%;
  margin: 40px 10%;
}
.book-container {
  width: 20%;
  margin: 2rem;
}
.book-image {
  width: 100%;
  height: 65%;
}
.rating {
  font-size: 0.6rem;
  font-weight: 700;
}
.company-name {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.book-name {
  color: #535766;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 40%;
  display: block;
}
.price {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 1rem;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 0.4rem;
  font-size: 0.6rem;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.btn-add-bag {
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.bag-book-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 1.1rem;
  padding: 0 6px;
  height: 1.1rem;
  position: relative;
  border-radius: 50%;
  font-size: 0.8rem;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.action_container {
  text-decoration: none;
}
a.action_container:link {
  color: black;
}
.bag-books-container {
  display: inline-block;
  width: 64%;
  padding-right: 1rem;
  border-right: 1px solid #eaeaec;
  padding-top: 2rem;
  color: #282c3f;
  font-size: 0.9rem;
  line-height: 1.42857143;
}

.bag-page {
  width: 85%;
  margin-left: 0.5rem;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 1.3rem 0 0 1rem;
  color: #282c3f;
  font-size: 0.9rem;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 0.7rem;
}

.price-header {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1.3rem 0 1rem;
  color: #535766;
}

.price-book {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-book-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  min-width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  margin-bottom: 6rem;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-book-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.book-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.book-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-book-img {
  width: 100%;
  height: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.spinner {
  margin: 100px 0px;
}

@media screen and (max-width: 1250px) {
  .myntra_home {
    height: 7rem;
  }
  .nav_bar a {
    font-size: 11px;
  }
  .action_bar {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    font-size: 10px;
    margin: 2%;
  }
  .cart {
    margin: 18px 0 0 0;
  }
  .search_bar {
    min-width: 20%;
  }
  .search_input {
    font-size: 13px;
    min-width: 20%;
  }
}

@media screen and (max-width: 933px) {
  .nav_bar a {
    font-size: 9px;
  }
}

@media screen and (max-width: 783px) {
  .nav_bar {
    display: none;
  }

  .menu_container {
    display: flex;
    max-width: 100%;
    float: left;
    margin-left: 2rem;
    display: block;
  }
  .menu_icon {
    display: block;
    margin-right: 2rem;
  }
  .search_bar {
    min-width: 20%;
  }

  .search_input {
    font-size: 13px;
    min-width: 20%;
  }
  .book-container {
    width: 52%;
    margin: 2rem;
  }
  .company-name {
    margin-top: 0.7rem;
    font-size: 1.4rem;
    font-weight: 550;
    min-width: 60%;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: 550px) {
  .logo_container {
    display: none;
  }
  .myntra_home {
    display: none;
  }
  .menu_icon {
    height: 2rem;
    margin-right: 1rem;
  }
  .search_bar {
    margin-left: 0px;
    width: 80%;
  }
  .search_input {
    font-size: 13px;
    min-width: 70%;
  }
  .action_container {
    font-size: 0.5rem;
  }
  .book-container {
    width: 55%;
    margin: 2rem;
  }
  .book-name {
    font-size: 0.8rem;
    overflow: hidden;
    font-weight: 40%;
  }
  .current-price {
    font-size: 0.6rem;
    display: block;
    font-weight: 600;
    color: #282c3f;
  }
  .delivery-details {
    margin-top: 5px;
    color: #282c3f;
    font-size: 0.5rem;
  }
  .remove-from-cart {
    position: absolute;
    font-size: 0.9rem;
    top: 0rem;
    right: 0.1rem;
    cursor: pointer;
  }
  .bag-book-container {
    margin-bottom: 8px;
    background: #fff;
    font-size: 0.6rem;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 12px 0;
  }
  .book-left-part {
    position: absolute;
    background: rgb(255, 242, 223);
    height: 7rem;
    width: 80px;
  }
  .book-right-part {
    padding-left: 0.4rem;
    position: relative;
    min-height: 10rem;
    margin-left: 5rem;
  }
  .bag-summary {
    margin-top: rem;
    vertical-align: top;
    display: inline-block;
    width: 35%;
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid #f1f1f1;
    color: #282c3f;
    font-size: 0.9rem;
    line-height: 1.42857143;
  }
  .price-header {
    font-size: 0.7rem;
    font-weight: 650;
    margin: 1.3rem 0 1rem;
  }
  .price-book {
    line-height: 2rem;
    font-size: 0.4rem;
    color: #282c3f;
    font-weight: 700;
  }
  .price-footer {
    font-weight: 700;
    font-size: 0.5rem;
    padding-top: 0.6rem;
    border-top: 1px solid #eaeaec;
   
   
  }  .btn-place-order {
    min-width: 100%; 
    letter-spacing: 1px;
    font-size: 0.4rem;
    font-weight: 400;
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 16px;
    margin-bottom: 6rem;
    background-color: rgb(255, 63, 108);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .footer_container {
    margin: 3rem 2rem 1rem 2rem;
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
  }
  .footer_column h3 {
    color: #282c3f;
    font-size: 0.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .footer_column a {
    color: #696b79;
    font-size: 0.6rem;
    text-decoration: none;
    padding-bottom: 5px;
  }
  .copyright {
    color: #94969f;
    text-align: end;
  }
  .book-right-part {
    padding-left: 0.4rem;
    position: relative;
    margin-left: 5rem;
  }
  .bag-books-container {
    display: inline-block;
    width: 64%;
    padding-right: 1rem;
    border-right: 1px solid #eaeaec;
    padding-top: 0.1rem;
    color: #282c3f;
    font-size: 0.9rem;
    line-height: 1.42857143;
  }
  .return-period {
    display: inline-flex;
    font-size: 0.4rem;
    padding-top: 8px;
  }
}