.bag-books-container {
  display: inline-block;
  width: 64%;
  padding-right: 1rem;
  border-right: 1px solid #eaeaec;
  padding-top: 2rem;
  color: #282c3f;
  font-size: 0.9rem;
  line-height: 1.42857143;
}

.bag-page {
  width: 85%;
  margin-left: 0.5rem;
}



.bag-book-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.book-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.book-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-book-img {
  width: 100%;
  height: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}


@media screen and (max-width: 1250px) {}

@media screen and (max-width: 933px) {}

@media screen and (max-width: 783px) {}

@media screen and (max-width: 550px) {
  .bag-book-container {
    margin-bottom: 8px;
    background: #fff;
    font-size: 0.6rem;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 12px 0;
  }
  .book-left-part {
    position: absolute;
    background: rgb(255, 242, 223);
    height: 7rem;
    width: 80px;
  }
  .book-right-part {
    padding-left: 0.4rem;
    position: relative;
    min-height: 10rem;
    margin-left: 5rem;
  }
  
  .bag-books-container {
    display: inline-block;
    width: 64%;
    padding-right: 1rem;
    border-right: 1px solid #eaeaec;
    padding-top: 0.1rem;
    color: #282c3f;
    font-size: 0.9rem;
    line-height: 1.42857143;
  }
  .return-period {
    display: inline-flex;
    font-size: 0.4rem;
    padding-top: 8px;
  }
 }