.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 1.3rem 0 0 1rem;
  color: #282c3f;
  font-size: 0.9rem;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 0.7rem;
}

.price-header {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1.3rem 0 1rem;
  color: #535766;
}

.price-book {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-book-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  min-width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  margin-bottom: 6rem;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
@media screen and (max-width: 1281px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 480px) {}

  .bag-summary {
    margin-top: rem;
    vertical-align: top;
    display: inline-block;
    width: 35%;
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid #f1f1f1;
    color: #282c3f;
    font-size: 0.9rem;
    line-height: 1.42857143;
  }
  .price-header {
    font-size: 0.7rem;
    font-weight: 650;
    margin: 1.3rem 0 1rem;
  }
  .price-book {
    line-height: 2rem;
    font-size: 0.4rem;
    color: #282c3f;
    font-weight: 700;
  }
  .price-footer {
    font-weight: 700;
    font-size: 0.5rem;
    padding-top: 0.6rem;
    border-top: 1px solid #eaeaec;
   
   
  }  .btn-place-order {
    min-width: 100%; 
    letter-spacing: 1px;
    font-size: 0.4rem;
    font-weight: 400;
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 16px;
    margin-bottom: 6rem;
    background-color: rgb(255, 63, 108);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
